<div class="card" style=" border: none;">
    <span style="font-size: 100px;">PASS <br> CARD <br> KIDS <br> ggwbsbdbs</span>
    <h2>  
        <span style="font-weight: 300p; margin-toppx;">Tornando mais segura a retirada de nossos alunos</span>
    </h2>


    <h1>
    <img src="https://colegiosapiens.com/wp-content/uploads/2022/05/menino-colegio-sapiens2.png"  height="alto" style="position: relative; left: 935px;
    margin-top: -1300px;}">
    <img src="https://cdn.pixabay.com/photo/2016/10/10/01/49/hook-1727484_960_720.png" width="150" height="alto" style="position: relative; margin-top: -1300px;" ></a>
    </h1>
</div>
