<span style="font-size: 70px; padding: 300px">PASS CARD KIDS</span>
<h1><img src="https://colegiosapiens.com/wp-content/uploads/2022/05/menino-colegio-sapiens2.png"  height="alto" style="position: relative;left: 1000px;"></h1>

